{% extends 'base.html.twig' %}

{% block title %}Le forum des managers{% endblock %}

{% block body %}

<div class="container">
    <section>
        <h1>Le forum des managers</h1>
        <div class"headCategory" style"70px">

        </div>
        {% for category_forum in category_forums %}
        <a href="{{ path('category_forum_show', {'id': category_forum.id}) }}" class="cardCategory">
        <div class="card mb-2">
            <h5 class="card-header"><span class="colorUser">{{ category_forum.nameCategory }}</span></h5>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"><span class="colorUser">{{ category_forum.parent }}</span> Nombre de reponse  Derniermessage/par</p>
            </div>
          </div>
        </a>
          {% endfor %}
    </section>
</div>

{% endblock %}
