{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<h1>Tableau de bord Admin</h1>
<a href="{{ path('admin_categories_home') }}" class="btn-accueil">Catégories du forum</a>

{% endblock %}

