{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% if is_granted("ROLE_ADMIN") %}
<h1>Tableau de bord Admin</h1>
<h2>news</h2>

<h2>forum</h2>
<h3>Ajouter / Modifier une catégorie</h3>
{% endif %}
{% endblock %}

